.theme-d2 .avue-logo {
  color: #409EFF;
  background-color: #ebf1f6;
  box-shadow: none;
}
.theme-d2 .avue-logo .avue-logo_title {
  font-size: 22px;
  font-weight: 400;
}
.theme-d2 .avue-top {
  background-color: #ebf1f6;
  box-shadow: none;
}
.theme-d2 .avue-top .top-menu .ant-menu {
  background: none;
  color: #606266;
}
.theme-d2 .avue-top .top-menu .ant-menu-horizontal > .ant-menu-item:hover, .theme-d2 .avue-top .top-menu .ant-menu-horizontal > .ant-menu-submenu:hover, .theme-d2 .avue-top .top-menu .ant-menu-horizontal > .ant-menu-item-active, .theme-d2 .avue-top .top-menu .ant-menu-horizontal > .ant-menu-submenu-active, .theme-d2 .avue-top .top-menu .ant-menu-horizontal > .ant-menu-item-open, .theme-d2 .avue-top .top-menu .ant-menu-horizontal > .ant-menu-submenu-open, .theme-d2 .avue-top .top-menu .ant-menu-horizontal > .ant-menu-item-selected, .theme-d2 .avue-top .top-menu .ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #409eff;
}
.theme-d2 .avue-main {
  padding: 0 5px;
}
.theme-d2 .avue-tags {
  margin-left: 6px;
  padding: 0;
  border: 1px solid #e4e7ed;
  border-radius: 3px;
  background-color: #ebf1f6;
  box-shadow: none;
}
.theme-d2 .avue-tags .el-tabs__item {
  border-left: 1px solid #cfd7e5 !important;
  margin: 0 !important;
  background-color: rgba(0, 0, 0, 0.03) !important;
  color: #606266 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.theme-d2 .avue-tags .el-tabs__item:first-child {
  border-left: none !important;
}
.theme-d2 .avue-tags .is-active {
  border-bottom: 1px solid #fff !important;
  background-color: #fff !important;
  color: #409EFF !important;
}
.theme-d2 .avue-sidebar {
  background-color: #ebf1f6;
  box-shadow: none;
}
.theme-d2 .avue-sidebar .el-menu-item i, .theme-d2 .avue-sidebar .el-menu-item span, .theme-d2 .avue-sidebar .el-submenu__title i, .theme-d2 .avue-sidebar .el-submenu__title span {
  color: #606266;
}
.theme-d2 .avue-sidebar .el-menu-item:hover, .theme-d2 .avue-sidebar .el-menu-item.is-active, .theme-d2 .avue-sidebar .el-submenu__title:hover, .theme-d2 .avue-sidebar .el-submenu__title.is-active {
  background: rgba(255, 255, 255, 0.5);
}
.theme-d2 .avue-sidebar .el-menu-item:hover i, .theme-d2 .avue-sidebar .el-menu-item:hover span, .theme-d2 .avue-sidebar .el-menu-item.is-active i, .theme-d2 .avue-sidebar .el-menu-item.is-active span, .theme-d2 .avue-sidebar .el-submenu__title:hover i, .theme-d2 .avue-sidebar .el-submenu__title:hover span, .theme-d2 .avue-sidebar .el-submenu__title.is-active i, .theme-d2 .avue-sidebar .el-submenu__title.is-active span {
  color: #409EFF;
}